<div>
<form action="success.html">
<div class="form-group">
<label for="title">Title : </label>
<input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
</div>

<div class="form-group">
<label for="price">Price : </label>
<input type="number" class="form-control" id="price" placeholder="Enter price" name="price" min="0">
</div>

<div class="form-group">
<label for="title">Details : </label>
<textarea class="form-control" rows="3" id="details"></textarea>
</div>

<div class="form-group">
<label for="title">Upload Image : </label>
<div style="position:relative;">
		<a class='btn btn-primary' href='javascript:;'>
			Choose File...
			<input type="file" accept="image/*" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a>
		&nbsp;
		<span class='label label-info' id="upload-file-info"></span>
</div>
</div>

<div class="form-group">
 <button type="button" class="btn btn-primary btn-block">Post</button>
 </div>
 <div class="form-group">
 <button type="button" class="btn btn-default btn-block">Cancel</button>
 </div>