.formStyle {
       
 	font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.formStyle input[type=text],
.formStyle input[type=email]{
		
    width: 94%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.formStyle h1 {
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.formStyle input[type="submit"],
.formStyle input[type="button"] {

	width: 95%;
	padding: 3%;
	background: #43D1AF;
	margin-bottom: 4%;
	/*border-bottom: 3px solid #30C29E;*/
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;    
	color: #fff;
}

.formStyle input[type="submit"]:hover,
.formStyle input[type="button"]:hover {

	background: #2EBC99;
}